#header {
    background-color: #4d4af0;
}

/* .headbtn {
    background-color: #6b69ff;
    border-color: #eeedff;
    color: #eeedff;
} */

.headbtn {
    background-color: #f0d14a;
    border-color: #e7d99b;
    color: #241e0b;
}

.text-lpurple {
    border-color: #eeedff;
    color: #eeedff;
}