.TopBarContainer {
    background-color: rgb(72, 126, 226);
    display: grid;
    column-gap: 50px;
    row-gap: 10px;
    margin: 10px;
}

.Title {
    grid-column-start: 9;
    grid-row-start: 1;
}

.AccountButton {
    margin-right: 1%;
    grid-column-start: 15;
    grid-row-start: 1;
}