img {
    width: 10%;
    height: 10%;
}

.container {
    justify-content: center;
}

.profile-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
    width: 40%;
}